<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>French</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>project</string>
				<string>proj</string>
				<string>mmproject</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MoXProject.icns</string>
			<key>CFBundleTypeName</key>
			<string>kMacMapProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>proj</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>typ</string>
				<string>TYP</string>
				<string>type</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MoXType.icns</string>
			<key>CFBundleTypeName</key>
			<string>kMacMapTypeBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>data</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>uni</string>
				<string>UNI</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsUNIProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>uni_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>biv</string>
				<string>BIV</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsBIVProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>biv_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pca</string>
				<string>PCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsPCAProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fca</string>
				<string>FCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsFCAProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hca</string>
				<string>HCA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsHCAProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>hca_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ira</string>
				<string>IRA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsIRAProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ira_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vmx</string>
				<string>VMX</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsVMXProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>vmx_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mlt</string>
				<string>MLT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kMacMapStatsMLTProjectBundle</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mlt_</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MacMap®</string>
	<key>CFBundleHelpBookFolder</key>
	<string>MacMap Help</string>
	<key>CFBundleHelpBookName</key>
	<string>MacMap Help</string>
	<key>CFBundleIconFile</key>
	<string>MoXApp.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cbconseil.macmap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacMap®</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.8.5</string>
	<key>CFBundleSignature</key>
	<string>Map™</string>
	<key>CFBundleVersion</key>
	<string>3.8.5</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
</dict>
</plist>
