<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15G1611</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>French</string>
	<key>CFBundleExecutable</key>
	<string>vDefPaletteUltra</string>
	<key>CFBundleIdentifier</key>
	<string>com.cbconseil.vdefpaletteultra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>vDef</string>
	<key>CFBundleSignature</key>
	<string>MaMo</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0631</string>
	<key>DTXcodeBuild</key>
	<string>6D1002</string>
	<key>MacMapHigh</key>
	<string>-1</string>
	<key>MacMapLibSign</key>
	<string>Ultv</string>
	<key>MacMapLow</key>
	<string>-1</string>
	<key>MacMapMinVers</key>
	<string>3.0.0</string>
</dict>
</plist>
